body{
  margin: 0;
 font-family: 'Caveat', cursive;
  color: #dfd8c8;
  background-color: white;
  background-color: #dfd8c8;


  

 
}
.container{
 
  width: 100vw;
  margin: auto;

}


.header{
  position: relative;
  box-sizing: border-box;
  background-color: #443C68;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 12px;
  width: 100vw;
  height: 30%;
  
  margin: auto;
  
}

.search{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
max-width: 50% ;
}

.search input{
  width: 100%;
padding: 7px;
background-color: #dfd8c8;
border: 2px solid 
#dfd8c8;
border-radius: 3px;
outline: none;
}

.search input:focus{
  background-color: #dfd8c8;
}
.search button{
  border-radius: 3px;
  border: none;
  margin-left: 3px;
  background-color: #dfd8c8;
  cursor: pointer;
}
.searchIcon{
  float: left;
  font-size: xx-large;
  color: #443C68;

}
.search button:hover{
  background-color: #A8A4CE;
}
.searchIcon:hover{color: #dfd8c8;}


.navigation{

  display: flex;
  justify-content: center;
  height: 6vh;
  margin-top: 10px;
  margin-bottom: 20px;

  

}

.navLink{
  
color: #635985;
text-decoration: none;
font-weight: bold;
cursor: pointer;

}


.navigation li{
  list-style: none;
  text-align: center;
  width: 80px;
  height: 20px;
  margin: 3px;
  padding: 5px;
  border: 2px solid#635985;
  border-radius: 3px;
 

}

.navLink:hover{
  color: #dfd8c8;
}


.navigation li:hover{
  background-color: #A8A4CE;

}


.imageCard{
 display:flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 max-width: 1280%;
 width: 80%;
 margin: auto;
 gap: 25px;
  
}

.image{
  width: 200px;
  height: 150px;
  
}

img{
width: 100%;
height: 100%;
/* object-fit: contain; */
object-position: center;
transform: scale(1);
}

img:hover{
  transform: scale(1.1);
  z-index: 1;
}





